.header {
	background-color: #FFFFFF;
	height: 64px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}

.header-mobile {
	display: flex;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	justify-content: space-between;
}

.header-logo {
	-webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
	-ms-flex-order: 1;              /* TWEENER - IE 10 */
	-webkit-order: 1;               /* NEW - Chrome */
	order: 1;
}

.header-btn-nav {
	border: 0px;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.header-menu-navbar {
	background-color: #FFFFFF;
}

.header-menu-list {
	height: 0px;
	overflow: hidden;
}

.header-menu-show {
	height: 300px;
}

.header-menu-list-item {

}